
body {
  background-color:#eeeeee;
  width: 750px;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}


.topnav a:hover{
 color:#bea44e

}

html {
  font-size: 20px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-style: normal;
  font-style: italic;
  font-style: bold;
  font-style: oblique;
  font-style: oblique 10deg;
  font-family: 'Courier Prime', monospace;
  background-color: #ffffff;
}

h1 {
  font-size: 76px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
}
h2 {
  font-size: 66px;
  text-align: left;
  text-transform: capitalize;
  font-weight: 400;
}
h3 {
  font-size: 36px;
  text-align: left;
  text-transform: none;
  font-weight: 400;
}
h4 {
  font-size: 16px;
  text-align: left;
  font-weight: 400;
}
h5 {
  font-size: 36px;
  text-align: left;
  font-weight: 400;
}
h6 {
  font-size: 26px;
  text-align: left;
  font-weight: 400;
}
p {
  font-size: 18px;
}
ul {
  font-style: italic;
}
strong {
  font-weight: 700;
}
.logo {
  text-align: center;
}
.logo img {
  width: 40%;
}




